input,
textarea {
  border: 1px solid #dddfe2;
  border-radius: 6px;
  color: #1d2129;
  display: block;
  font-size: 16px;
  margin: 5px 0;
  padding: 14px 16px;
  /* width: 200px; unidad fija en px */
  width: 100%; /* unidad relativa %*/
}

input:hover,
textarea:hover {
  border: 1px solid #1877f2;
}

button {
  background-color:  #1877f2;
  border: none;
  border-radius: 6px;
  color: #dddfe2;
  padding: 5px 20px;
}

button:hover {
  background-color: aquamarine;
}

th {
  background-color: steelblue;
}

td {
  padding: 0.5em 1em;
}