* {
  margin: 0;
  padding: 0;
  font-size: var(--paragraph-size);
  font-family: sans-serif;
  box-sizing: border-box;
}

:root {
  --gray-color: #646464;
  --green-color: #38de8a;
  --paragraph-size: 1em;
}

body {
  background: #f0b7a1; /* Old browsers */
  background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 25%, #752201 67%, #bf6e4e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 25%,#752201 67%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 25%,#752201 67%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
}

/* Clase de CSS */
.container {
  align-items: center; /* center verticalmente */
  background-color: #ffffff;
  /* border: 3px dashed red; // borde del elemento */
  box-shadow: 2px 2px 10px 0 #545454; /* sombra exterior */
  display: flex; /* flexbox */
  flex-direction: column; /* ubicar elementos en columnas */
  margin: 150px 50px; /* márgenes al exterior (top,bottom)/(right,left)*/
  /* margin: 10px(top) 50px(right) 30px(bottom) 20px(left); // márgenes al exterior */
  padding-left: 100px; /* márgenes al interior izquierdo */
  padding-right: 100px;
  padding-bottom: 50px;
}

img {
  height: 256px; /* altura en px(pixels) */
  position: relative;
  top: -130px;
}

h1 {
  color: var(--gray-color); /* color: #646464; */
  font-family: sans-serif; /* tipo de fuente */
  font-size: 28px; /* tamaño de fuente */
  margin-top: -100px;
}

a, h3, p {
  font-family: 'Trebuchet MS', sans-serif; /* propiedad compartida para 3 selectores */
  margin: 1em 0;
}

h3 {
  font-size: 0.9em;
}

p {
  margin-bottom: 70px; /* margen exterior hacia abajo (top, right, left)*/
  text-align: center; /* alinear al centro */
}

h3, p {
  color: var(--gray-color);
}

a {
  background-color: var(--green-color);
  border-radius: 5px; /* radio de los bordes */
  box-shadow: 0 2px 3px 0 #787878; /* sombra de caja */
  color: #ffffff; /* tamaño de texto */
  font-weight: 600; /* grosor de texto */
  padding-top: 22px; /* margen interna arriba */
  padding-bottom: 22px; /* margen interna abajo */
  padding-left: 44px; /* margen interna izquierda */
  padding-right: 44px; /* margen interna derecha */
  text-decoration: none; /* eliminar subrayado */
  text-transform: uppercase; /* texto en mayúscula */
}

/* pseudoclase estado sobre(over)*/
a:hover {
  background-color: #e3e3e3;
  color: var(--green-color);
}